---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Carrousel from "../components/Carrousel.astro";
---

<MainLayout title="Kadaver | Hjem" description="Kadaver's forside" ogtitle="Kadaver - forside" ogdescription="Kadaver's forside/startside">
  <section id="top-section" class="relative md:pt-desktop-top md:pb-desktop-bottom pt-mobile-top pb-mobile-bottom w-full h-screen">
    <div class="absolute inset-0 w-full h-full z-0">
      <img src="/images/hero_gif.gif" alt="background gif" class="w-full h-screen object-cover" />
      <div class="absolute inset-0 bg-gray-950 opacity-75 z-[10]"></div>
      <div class="absolute inset-0 md:pt-desktop-top pt-mobile-top max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-6 content-center h-full">
        <div class="typewriter col-span-12 md:col-span-12 z-30">
          <h1 class="display text-gray-50">Kadaver</h1>
        </div>
        <h2 class="text-h3-mobile md:text-h3-desktop text-gray-50 col-span-12 lg:col-span-8 xl:col-span-6">
          Kreativ kommunikation, der skaber stærke relationer
        </h2>
        <p class="text-gray-50 col-span-12 lg:col-span-10 xl:col-span-8 pb-12">
          Vi skaber indhold, der engagerer og inspirerer. Hos Kadaver forstår vi kraften i kreativ kommunikation og brænder for at hjælpe brands med
          at finde deres unikke stemme. Gennem strategisk storytelling og innovative løsninger, bygger vi forbindelser, der rækker ud over det
          sædvanlige og skaber varige relationer med dit publikum.
        </p>
        <div class="btn_container flex flex-row gap-6 md:gap-12 col-span-12">
          <a href="/kontakt">
            <Button variant="secondary" size="medium">Kontakt os</Button>
          </a>
          <a href="/listview">
            <Button variant="secondary" href="/listview" size="medium">Vores cases</Button>
          </a>
        </div>
      </div>
      <div class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[30]">
        <a href="#info-section">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="float w-8 h-8 sm:w-10 sm:h-10 text-gray-50 hover:text-violet-600 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <section id="info-section" class="mt-20 md:mt-32 max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 items-center">
    <div class="info-container1 pb-8 col-span-12 lg:col-span-8 xl:col-span-6 lg:col-start-2 md:col-start-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-16 md:mb-9 mb-4 hover:text-violet-600 transition duration-300 ease-in-out"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 0 1-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 0 1-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 0 1-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584ZM12 18a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
          clip-rule="evenodd"></path>
      </svg>

      <h3 class="pb-2 md:pb-4">Hvem er vi?</h3>
      <div class="flex flex-col md:flex-row md:items-center gap-6 md:gap-12">
        <p>
          Kadaver er et kreativt brand- og contentbureau, der bryder med normen og skaber oplevelser, der både engagerer og inspirerer. Vi forener
          strategi, design og storytelling for at bringe idéer til live. Vi er passionerede omkring at forstå dine behov, udforske nye muligheder og
          skabe kreative løsninger, der bygger varige forbindelser med dit publikum.
        </p>
      </div>
    </div>
    <div class="info-container2 pb-8 col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-6 lg:col-start-2 md:col-start-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-16 md:mb-9 mb-4 hover:text-blue-700 transition duration-300 ease-in-out"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 5.25a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3V15a3 3 0 0 1-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 0 1-.53 1.28h-9a.75.75 0 0 1-.53-1.28l.621-.622a2.25 2.25 0 0 0 .659-1.59V18h-3a3 3 0 0 1-3-3V5.25Zm1.5 0v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5Z"
          clip-rule="evenodd"></path>
      </svg>

      <h3 class="pb-2 md:pb-4">Hvad laver vi?</h3>
      <div class="flex flex-col md:flex-row md:items-center gap-6 md:gap-12">
        <p>
          Vi skaber kampagner, brandoplevelser og innovative løsninger, der bryder grænser. Uanset om det drejer sig om events, branding eller
          digitale koncepter, udvikler vi unikke løsninger, der får folk til at stoppe op og engagere sig. Vores mål er at skabe ægte forbindelser,
          der efterlader et varigt indtryk.
        </p>
      </div>
    </div>
    <div class="info-container3 md:pb-0 pb-8 col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-6 lg:col-start-2 md:col-start-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-16 md:mb-9 mb-4 hover:text-violet-600 transition duration-300 ease-in-out"
      >
        <path
          fill-rule="evenodd"
          d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z"
          clip-rule="evenodd"></path>
      </svg>

      <h3 class="pb-2 md:pb-4">Vores tilgang</h3>
      <div class="flex flex-col md:flex-row md:items-center gap-6 md:gap-12">
        <p>
          Vi tror på, at de bedste resultater opstår gennem tæt samarbejde. Ved at dykke ned i udfordringerne tænker vi kreativt og finder løsninger,
          der både overrasker og skaber værdi. Vores proces er drevet af nysgerrighed, eksperimenter og en passion for at skabe noget nyt, der gør en
          forskel.
        </p>
      </div>
    </div>

    <!-- New paragraph section -->
    <div class="info-container4 col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-6 lg:col-start-2 md:col-start-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-16 md:mb-9 mb-4 hover:text-blue-700 transition duration-300 ease-in-out"
      >
        <path
          fill-rule="evenodd"
          d="M5.478 5.559A1.5 1.5 0 0 1 6.912 4.5H9A.75.75 0 0 0 9 3H6.912a3 3 0 0 0-2.868 2.118l-2.411 7.838a3 3 0 0 0-.133.882V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0 0 17.088 3H15a.75.75 0 0 0 0 1.5h2.088a1.5 1.5 0 0 1 1.434 1.059l2.213 7.191H17.89a3 3 0 0 0-2.684 1.658l-.256.513a1.5 1.5 0 0 1-1.342.829h-3.218a1.5 1.5 0 0 1-1.342-.83l-.256-.512a3 3 0 0 0-2.684-1.658H3.265l2.213-7.191Z"
          clip-rule="evenodd"></path>
        <path
          fill-rule="evenodd"
          d="M12 2.25a.75.75 0 0 1 .75.75v6.44l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 0 1 1.06-1.06l1.72 1.72V3a.75.75 0 0 1 .75-.75Z"
          clip-rule="evenodd"></path>
      </svg>

      <h3 class="pt-0 md:pt-8 pb-2 md:pb-4">Vores process</h3>
      <div class="flex flex-col md:flex-row md:items-center gap-12">
        <p>
          Vi brænder for at sætte os ind i dine ambitioner, opdage nye muligheder og skabe løsninger, der både er praktiske og kreative. Vores proces
          bygger på samarbejde, så vi altid er i tæt dialog med dig, fra idé til færdigt resultat. Sammen sikrer vi, at din vision bliver til
          virkelighed.
        </p>
      </div>
    </div>
  </section>

  <section class="highlighted_cases mt-20 md:mt-32">
    <div class="max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 items-center justify-center">
      <div class="col-span-12">
        <h3 class="highlighted_cases_title pb-2 md:pb-4">Highlightede cases</h3>
        <div class="highlighted_cases_text flex flex-col md:flex-row md:items-center gap-6 md:gap-12">
          <p>
            Er du nysgerrig på, hvordan vores værdier bliver til handling? Tag et kig på vores cases, <br class="hidden md:block" /> og se, hvordan vi
            skaber kampagner, der engagerer og skaber langvarige indtryk.
          </p>
        </div>
        <Carrousel />
        <div class="btn_container pt-12">
          <a href="/listview">
            <Button variant="primary" size="medium">Vis flere..</Button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="contact pb-16 mt-20 md:mt-32 max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 justify-center">
    <div class="contact_text col-span-10 md:col-span-8 md:col-start-2">
      <h3 class="pb-2 md:pb-4">Har du en idé? Lad os gøre <br class="hidden md:block" /> den til virkelighed</h3>
      <p class="pb-4">
        Har du en idé, et projekt eller en udfordring, vi kan hjælpe med? Lad os tage en snak om, <br class="hidden md:block" /> hvordan vi sammen kan
        skabe kreative løsninger, der inspirerer og fanger opmærksomhed.<br class="hidden md:block" />Kontakt os i dag&mdash; vi glæder os til at høre
        fra dig!
      </p>
      <div class="btn_container pt-6">
        <a href="/kontakt">
          <Button variant="primary" size="medium">Gå til kontakt-siden</Button>
        </a>
      </div>
    </div>
    <div class="logo hidden md:block col-span-2 content-center">
      <img src="/images/logo_gradient.gif" alt="Logo for Kadaver" class="w-40 h-40" />
    </div>
  </section>

  <style>
    @keyframes float {
      0% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0);
      }
    }
    .float {
      animation: float 3s ease-in-out infinite;
    }

    /* Define keyframes globally (not inside media queries) */
    @keyframes typewriter {
      0% {
        width: 0;
      }
      100% {
        width: 37.5%;
      }
    }

    @keyframes typewriter-mobile {
      0% {
        width: 0;
      }
      100% {
        width: 66.5%;
      }
    }

    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: #9934ff;
      }
    }

    /* Default typewriter effect (for desktop) */
    .typewriter {
      overflow: hidden;
      white-space: nowrap; /* Ensures text stays in one line */
      border-right: 8px solid;
      display: inline-block;
      animation:
        typewriter 0.9s steps(30) 0.8s 1 normal both,
        blink-caret 0.9s step-end infinite;
    }

    /* Modify animation for smaller screens */
    @media screen and (max-width: 768px) {
      .typewriter {
        animation:
          typewriter-mobile 0.9s steps(30) 0.8s 1 normal both,
          blink-caret 0.9s step-end infinite;
      }
    }
  </style>

  <script>
    import { inView } from "motion";

    const elementmedanimation2 = document.querySelector("h2");
    inView(elementmedanimation2, () => {
      elementmedanimation2.classList.add("animate__animated", "animate__slideInRight");
    });

    const elementmedanimation3 = document.querySelector("#top-section p");
    inView(elementmedanimation3, () => {
      elementmedanimation3.classList.add("animate__animated", "animate__slideInLeft");
    });

    const elementmedanimation4 = document.querySelector(".btn_container");
    inView(elementmedanimation4, () => {
      elementmedanimation4.classList.add("animate__animated", "animate__zoomIn");
    });

    /* InView Animations for Each Image with Delay */
    const sections = document.querySelectorAll("#info-section > div");

    sections.forEach((sections, index) => {
      inView(sections, () => {
        sections.classList.add("animate__animated", "animate__fadeInUp");
        sections.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
      });
    });

    const elementmedanimation5 = document.querySelector(".contact_text");
    inView(elementmedanimation5, () => {
      elementmedanimation5.classList.add("animate__animated", "animate__slideInLeft");
    });

    const elementmedanimation6 = document.querySelector(".logo");
    inView(elementmedanimation6, () => {
      elementmedanimation6.classList.add("animate__animated", "animate__slideInRight");
    });

    const elementmedanimation7 = document.querySelector(".highlighted_cases .btn_container");
    inView(elementmedanimation7, () => {
      elementmedanimation7.classList.add("animate__animated", "animate__fadeInUp");
    });

    const elementmedanimation8 = document.querySelector(".highlighted_cases_title");
    inView(elementmedanimation8, () => {
      elementmedanimation8.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation9 = document.querySelector(".highlighted_cases_text");
    inView(elementmedanimation9, () => {
      elementmedanimation9.classList.add("animate__animated", "animate__fadeInRight");
    });
  </script>
</MainLayout>
