---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Carrousel from "../components/Carrousel.astro";
---

<MainLayout title="Kadaver | Hjem" description="Kadaver's forside" ogtitle="Kadaver - forside" ogdescription="Kadaver's forside/startside">
  <section id="top-section" class="relative md:pt-desktop-top md:pb-desktop-bottom pt-mobile-top pb-mobile-bottom w-full h-screen">
    <div class="absolute inset-0 w-full h-full z-0">
      <img src="/images/hero_gif.gif" alt="background gif" class="w-full h-screen object-cover" />
      <div class="absolute inset-0 bg-gray-950 opacity-75 z-[10]"></div>
      <div class="absolute inset-0 md:pt-desktop-top pt-mobile-top max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-6 content-center">
        <h1 class="display pb-4 text-gray-50 col-span-12">Kadaver</h1>
        <h2 class="text-h3-mobile md:text-h3-desktop md:pb-8 text-gray-50 col-span-12 lg:col-span-8 xl:col-span-6">
          Kreativ kommunikation, der skaber stærke relationer
        </h2>
        <p class="text-gray-50 col-span-12 lg:col-span-10 xl:col-span-8 pb-12">
          Vi skaber indhold, der engagerer og inspirerer. Hos Kadaver forstår vi kraften i kreativ kommunikation og brænder for at hjælpe brands med
          at finde deres unikke stemme. Gennem strategisk storytelling og innovative løsninger, bygger vi forbindelser, der rækker ud over det
          sædvanlige og skaber varige relationer med dit publikum.
        </p>
        <div class="btn_container flex flex-row gap-6 md:gap-12 col-span-12">
          <a href="/kontakt">
            <Button variant="secondary" size="medium">Kontakt os</Button>
          </a>
          <a href="/listview">
            <Button variant="secondary" href="/listview" size="medium">Vores cases</Button>
          </a>
        </div>
      </div>
      <div class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[30]">
        <a href="#info-section">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="float w-8 h-8 sm:w-10 sm:h-10 text-gray-50 hover:text-violet-600 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <section id="info-section" class="mt-20 md:mt-24 max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 items-center justify-center">
    <div class="info-container1 pb-8 col-span-12 lg:col-span-8 xl:col-span-6 lg:col-start-2 md:col-start-2">
      <h3 class="pb-2 md:pb-4">Hvem er vi?</h3>
      <div class="flex flex-col md:flex-row md:items-center gap-6 md:gap-12">
        <p>
          Kadaver er et kreativt brand- og contentbureau, der bryder med normen og skaber oplevelser, der både engagerer og inspirerer. Vi forener
          strategi, design og storytelling for at bringe idéer til live. Vi er passionerede omkring at forstå dine behov, udforske nye muligheder og
          skabe kreative løsninger, der bygger varige forbindelser med dit publikum.
        </p>
      </div>
    </div>
    <div class="info-container2 pb-8 col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-6 lg:col-start-2 md:col-start-2">
      <h3 class="pb-2 md:pb-4">Hvad laver vi?</h3>
      <div class="flex flex-col md:flex-row md:items-center gap-6 md:gap-12">
        <p>
          Vi skaber kampagner, brandoplevelser og innovative løsninger, der bryder grænser. Uanset om det drejer sig om events, branding eller
          digitale koncepter, udvikler vi unikke løsninger, der får folk til at stoppe op og engagere sig. Vores mål er at skabe ægte forbindelser,
          der efterlader et varigt indtryk.
        </p>
      </div>
    </div>
    <div class="info-container3 col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-6 lg:col-start-2 md:col-start-2">
      <h3 class="pb-2 md:pb-4">Vores tilgang</h3>
      <div class="flex flex-col md:flex-row md:items-center gap-6 md:gap-12">
        <p>
          Vi tror på, at de bedste resultater opstår gennem tæt samarbejde. Ved at dykke ned i udfordringerne tænker vi kreativt og finder løsninger,
          der både overrasker og skaber værdi. Vores proces er drevet af nysgerrighed, eksperimenter og en passion for at skabe noget nyt, der gør en
          forskel.
        </p>
      </div>
    </div>

    <!-- New paragraph section -->
    <div class="info-container4 col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-6 lg:col-start-2 md:col-start-2">
      <h3 class="md:pt-0 pt-8 pb-2 md:pb-4">Vores process</h3>
      <div class="flex flex-col md:flex-row md:items-center gap-12">
        <p>
          Vi brænder for at sætte os ind i dine ambitioner, opdage nye muligheder og skabe løsninger, der både er praktiske og kreative. Vores proces
          bygger på samarbejde, så vi altid er i tæt dialog med dig, fra idé til færdigt resultat. Sammen sikrer vi, at din vision bliver til
          virkelighed.
        </p>
      </div>
    </div>
  </section>

  <section class="highlighted_cases mt-20 md:mt-32">
    <div class="max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 items-center justify-center">
      <div class="col-span-12">
        <h3 class="pb-2 md:pb-4">Highlightede cases</h3>
        <div class="flex flex-col md:flex-row md:items-center gap-6 md:gap-12">
          <p>
            Er du nysgerrig på, hvordan vores værdier bliver til handling? Tag et kig på vores cases, <br class="hidden md:block" /> og se, hvordan vi
            skaber kampagner, der engagerer og skaber langvarige indtryk.
          </p>
        </div>
        <Carrousel />
        <div class="btn_container pt-12">
          <a href="/listview">
            <Button variant="primary" size="medium">Vis flere..</Button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="contact pb-16 mt-20 md:mt-32 max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 justify-center">
    <div class="col-span-10 md:col-span-8 md:col-start-2">
      <h3 class="pb-2 md:pb-4">Har du en idé? Lad os gøre <br class="hidden md:block" /> den til virkelighed</h3>
      <p class="pb-4">
        Har du en idé, et projekt eller en udfordring, vi kan hjælpe med? Lad os tage en snak om, <br class="hidden md:block" /> hvordan vi sammen kan
        skabe kreative løsninger, der inspirerer og fanger opmærksomhed.<br class="hidden md:block" />Kontakt os i dag&mdash; vi glæder os til at høre
        fra dig!
      </p>
      <div class="btn_container pt-6">
        <a href="/kontakt">
          <Button variant="primary" size="medium">Gå til kontakt-siden</Button>
        </a>
      </div>
    </div>
    <div class="hidden md:block col-span-2 content-center">
      <img src="/images/logo_gradient.gif" alt="Logo for Kadaver" class="w-40 h-40" />
    </div>
  </section>

  <style>
    @keyframes float {
      0% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0);
      }
    }
    .float {
      animation: float 3s ease-in-out infinite;
    }
  </style>
</MainLayout>
