---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Carrousel from "../components/Carrousel.astro";
---

<MainLayout title="Kadaver | Hjem" description="Kadaver's forside" ogtitle="Kadaver - forside" ogdescription="Kadaver's forside/startside">
  <section id="top-section" class="relative md:pt-desktop-top md:pb-desktop-bottom pt-mobile-top pb-mobile-bottom w-full h-screen">
    <div class="absolute inset-0 w-full h-full z-0">
      <img src="/images/hero_gif.gif" alt="background gif" class="w-full h-screen object-cover" />
      <!-- Overlay -->
      <div class="absolute inset-0 bg-gray-950 opacity-75 z-[10]"></div>

      <div class="absolute inset-0 md:pt-desktop-top pt-mobile-top max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 content-center">
        <h1 class="display pb-8 text-gray-50 col-span-12">Kadaver</h1>
        <h2 class="text-h3-desktop pb-12 text-gray-50 col-span-8 lg:col-span-6">Kreativ kommunikation, der skaber stærke relationer</h2>
        <p class="z-[10] text-gray-50 col-span-10 pb-12">
          Vi skaber indhold, der engagerer og inspirerer. Hos Kadaver forstår vi kraften i kreativ kommunikation og brænder for at hjælpe brands med
          at finde deres unikke stemme. Gennem strategisk storytelling og innovative løsninger, bygger vi forbindelser, der rækker ud over det
          sædvanlige og skaber varige relationer med dit publikum.
        </p>

        <div class="btn_container flex flex-row gap-12 col-span-12">
          <a href="/kontakt">
            <Button variant="secondary" size="medium">Kontakt os</Button>
          </a>
          <a href="/listview">
            <Button variant="secondary" href="/listview" size="medium">Vores cases</Button>
          </a>
        </div>
      </div>
      <!-- Scroll Down Icon -->
      <div class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[30]">
        <a href="#info-section">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="float w-8 h-8 sm:w-10 sm:h-10 text-gray-50 hover:text-violet-600 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <section
    id="info-section"
    class="md:pt-desktop-top md:pb-desktop-bottom pt-mobile-top pb-mobile-bottom max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-12 items-center justify-center"
  >
    <div class="info-container1 pb-16 col-span-10 col-start-2">
      <div class="w-full">
        <h3 class="pb-4 md:pb-2">Hvem er vi?</h3>
        <div class="flex flex-col md:flex-row md:items-center gap-12">
          <p>
            Kadaver er et kreativt brand- og contentbureau, der tænker anderledes, udfordrer status quo og skaber oplevelser, der engagerer og
            inspirerer. Vi kombinerer strategi, design og storytelling for at bringe idéer til live.
          </p>
          <img src="/images/question_box.svg" alt="spørgsmål-tegn ikon" class="w-24 h-24" />
        </div>
      </div>
    </div>

    <div class="info-container2 pb-16 col-span-10 col-start-2">
      <div class="w-full">
        <h3 class="pb-8 md:pb-4">Hvad laver vi?</h3>
        <div class="flex flex-col md:flex-row md:items-center gap-12">
          <img src="/images/computer.svg" alt="ide-tegn ikon" class="w-24 h-24" />
          <p>
            Vi skaber stærke kampagner, engagerende brandoplevelser og innovative løsninger, der rykker grænser. Uanset om det er events, branding
            eller digitale koncepter, udvikler vi skræddersyede løsninger, der får folk til at stoppe op og interagere.
          </p>
        </div>
      </div>
    </div>

    <div class="info-container3 pb-16 col-span-10 col-start-2">
      <div class="w-full">
        <h3 class="pb-4 md:pb-2">Vores tilgang</h3>
        <div class="flex flex-col md:flex-row md:items-center gap-12">
          <p>
            Vi tror på, at de bedste resultater opstår i samarbejde. Vi dykker ned i udfordringer, tænker kreativt og finder unikke løsninger, der
            både overrasker og skaber værdi. Vores proces er drevet af nysgerrighed, eksperimenter og en lyst til at skabe noget nyt.
          </p>
          <img src="/images/process.svg" alt="ide-tegn ikon" class="w-24 h-24" />
        </div>
      </div>
    </div>
  </section>
  <section class="highlighted_cases">
    <div class="max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-12 items-center justify-center">
      <div class="col-span-10 col-start-2">
        <h3 class="pb-8 md:pb-4">Highlightede cases</h3>
        <div class="flex flex-col md:flex-row md:items-center gap-12">
          <p>
            Vil du se, hvordan vores værdier kommer til live? Dyk ned i vores cases, og oplev, hvordan vi skaber engagerende kampagner, der efterlader
            et varigt indtryk.
          </p>
        </div>

        <!-- Carrousel -->
        <Carrousel />

        <!-- Button -->
        <div class="btn_container pt-12">
          <a href="/listview">
            <Button variant="primary" size="medium">Vis flere..</Button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <style>
    /* Floating Animation */
    @keyframes float {
      0% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0);
      }
    }

    .float {
      animation: float 3s ease-in-out infinite;
    }

    html {
      scroll-behavior: smooth;
    }
  </style>
  <script>
    let defaultTransform = 0;
    function goNext() {
      defaultTransform = defaultTransform - 398;
      var slider = document.getElementById("slider");
      if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.7) defaultTransform = 0;
      slider.style.transform = "translateX(" + defaultTransform + "px)";
    }
    next.addEventListener("click", goNext);
    function goPrev() {
      var slider = document.getElementById("slider");
      if (Math.abs(defaultTransform) === 0) defaultTransform = 0;
      else defaultTransform = defaultTransform + 398;
      slider.style.transform = "translateX(" + defaultTransform + "px)";
    }
    prev.addEventListener("click", goPrev);
  </script>
</MainLayout>
