---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kadaver | Kontakt os" description="Kadaver - kontakt" ogtitle="Kadaver - kontaktside" ogdescription="Kadaver's kontaktside">
  <section class="team_list mt-20 md:mt-24 pb-16 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12">
    <div class="col-span-12">
      <h1 class="display md:mt-24 mt-16 mb-4">Kontakt os</h1>
      <hr class="border-blue-700 border-4 w-[260px] md:w-[450px] mb-16" />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-gap mt-10 col-span-12">
      <!-- Repeat this block for each person -->
      <div class="card flex flex-col items-center">
        <img src="/images/chomee.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Cho-Mee Annemette Kristensen</p>
        <p class="text-center">Partner/CEO</p>
        <p class="email text-center mt-2">chomee@kadaver.dk</p>
        <a class="phone text-center" href="tel:+4540838185">+45 4083 8185</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/borris.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Carl Johannes Borris</p>
        <p class="text-center">Partner/creative director</p>
        <p class="email text-center mt-2">borris@kadaver.dk</p>
        <a class="phone text-center" href="tel:+4526365015">+45 2636 5015</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/jakob.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Jacob Klintrup</p>
        <p class="text-center">Creative strategic director</p>
        <a href="mailto:klintrup@kadaver.dk" class="email text-center mt-2">klintrup@kadaver.dk</a>
        <a href="tel:+4551900082" class="phone text-center">+45 5190 0082</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/toke.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Toke Krebs</p>
        <p class="text-center">Senior designer & concept developer</p>
        <a href="mailto:toke@kadaver.dk" class="email text-center mt-2">toke@kadaver.dk</a>
        <a href="tel:+4526856350" class="phone text-center">+45 2685 6350</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/daniel.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Daniel Stokke Meldrum Larsen</p>
        <p class="text-center">Senior creative</p>
        <a href="mailto:daniel@kadaver.dk" class="email text-center mt-2">daniel@kadaver.dk</a>
        <a href="tel:+4551563371" class="phone text-center">+45 5156 3371</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/kristoffer.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Kristoffer Telling Foged</p>
        <p class="text-center">Creative/copywriter</p>
        <a href="mailto:kristoffer@kadaver.dk" class="email text-center mt-2">kristoffer@kadaver.dk</a>
        <a href="tel:+4528554779" class="phone text-center">+45 2855 4779</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/thomas.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Thomas Arvid Jensen</p>
        <p class="text-center">Creative/AV creative</p>
        <a href="mailto:thomas@kadaver.dk" class="email text-center mt-2">thomas@kadaver.dk</a>
        <a href="tel:+4551541238" class="phone text-center">+45 5154 1238</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/cecilie.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Cecilie Heisterberg Otzen</p>
        <p class="text-center">Production/project manager</p>
        <a href="mailto:cecilie@kadaver.dk" class="email text-center mt-2">cecilie@kadaver.dk</a>
        <a href="tel:+4526213333" class="phone text-center">+ 45 2621 3333</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/nicolai.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Nicolai Hundebøll</p>
        <p class="text-center">Produktionskoordinator</p>
        <a href="mailto:nico@kadaver.dk" class="email text-center mt-2">nico@kadaver.dk</a>
        <a href="tel:+4551114182" class="phone text-center">+45 6111 4182</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/jeppe.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Jeppe Wittus</p>
        <p class="text-center">Production/project manager</p>
        <a href="mailto:jeppe@kadaver.dk" class="email text-center mt-2">jeppe@kadaver.dk</a>
        <a href="tel:+4522323480" class="phone text-center">+45 2232 3480</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/dharshika.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Dharshika Christopher</p>
        <p class="text-center">Community manager</p>
        <a href="mailto:dharshika@kadaver.dk" class="email text-center mt-2">dharshika@kadaver.dk</a>
        <a href="tel:+4542972481" class="phone text-center">+45 4297 2481</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/rose.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Rose Appel</p>
        <p class="text-center">Junior creative</p>
        <a href="mailto:rose@kadaver.dk" class="email text-center mt-2">rose@kadaver.dk</a>
        <a href="tel:+4520349649" class="phone text-center">+45 2034 9649</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/niels.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Niels Forsberg</p>
        <p class="text-center">Manager (Girl's Legion)</p>
        <a href="mailto:niels@kadaver.dk" class="email text-center mt-2">niels@kadaver.dk</a>
        <a href="tel:+4526135970" class="phone text-center">+45 2613 5970</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/caroline.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Caroline Juul</p>
        <p class="text-center">Senior antropolog</p>
        <a href="mailto:caroline@kadaver.dk" class="email text-center mt-2">caroline@kadaver.dk</a>
        <a href="tel:+4528967557" class="phone text-center">+45 2896 7557</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="person2.jpg" alt="Person 2" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Fahad Saeed</p>
        <p class="text-center">Business & strategy lead</p>
        <a href="mailto:fahad@kadaver.dk" class="email text-center mt-2">fahad@kadaver.dk</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/marie.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Marie Groes-Petersen</p>
        <p class="text-center">Praktikant</p>
        <a href="mailto:marie@kadaver.dk" class="email text-center mt-2">marie@kadaver.dk</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/frederikke.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Frederikke Zander Kahne</p>
        <p class="text-center">Praktikant</p>
        <a href="mailto:frederikke@kadaver.dk" class="email text-center mt-2">frederikke@kadaver.dk</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/hannah.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Hannah Hansen</p>
        <p class="text-center">Praktikant</p>
        <a href="mailto:hannah@kadaver.dk" class="email text-center mt-2">hannah@kadaver.dk</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="/images/emma.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Emma Lenau</p>
        <p class="text-center">Praktikant</p>
        <a href="mailto:emma@kadaver.dk" class="email text-center mt-2">emma@kadaver.dk</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="person2.jpg" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Sara Ringkow Petersen</p>
        <p class="text-center">Praktikant</p>
        <a href="mailto:ringkow@kadaver.dk" class="email text-center mt-2">ringkow@kadaver.dk</a>
      </div>

      <div class="card flex flex-col items-center">
        <img src="person2.jpg" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="bold">Kristian Albert Petersen</p>
        <p class="text-center">Praktikant</p>
        <a href="mailto:kristian@kadaver.dk" class="email text-center mt-2">kristian@kadaver.dk</a>
      </div>
    </div>
  </section>

  <div class="maps grid grid-cols-12 gap-4">
    <section class="col-span-12 mt-20 md:mt-24">
      <div class="pb-16 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="maps flex flex-col">
          <h4 class="mb-4">Kom og find os!</h4>
          <p class="max-w-6xl">
            Har du lyst til at kigge forbi? Vores døre står altid åbne for en god snak om kreative løsninger. Kom forbi vores adresse, eller lad os
            finde et sted, der passer dig.
          </p>

          <span class="mt-8">
            <p><span class="bold">Kadaver ApS </span><br /> Wilders Plads 5 <br /> 1403 København K</p>
          </span>
        </div>
        <div class="google relative w-full h-96">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4499.534553598127!2d12.590916477142986!3d55.67564697305568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652533c731d5263%3A0x590838e2ed2b2ebc!2sKadaver!5e0!3m2!1sen!2sdk!4v1738848876277!5m2!1sen!2sdk"
            class="rounded-sm w-full h-full shadow-drop25"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </section>
  </div>
</MainLayout>

<script>
  import { inView } from "motion";

  /* InView Animations for Each Card with Delay */
  const cards = document.querySelectorAll(".card");

  cards.forEach((card, index) => {
    inView(card, () => {
      card.classList.add("animate__animated", "animate__fadeInUp");
      card.style.animationDelay = `${index * 0.2}s`; // Delay each card by 0.2s
    });
  });

  /* inView Animations */
  const elementmedanimation1 = document.querySelector(".maps");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation2 = document.querySelector(".google");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__fadeInRight");
  });

  const elementmedanimation3 = document.querySelector("h1");
  inView(elementmedanimation3, () => {
    elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation4 = document.querySelector("hr");
  inView(elementmedanimation4, () => {
    elementmedanimation4.classList.add("animate__animated", "animate__fadeInLeft");
  });
</script>
