---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kadaver | Kontakt os" description="Kadaver - kontakt" ogtitle="Kadaver - kontaktside" ogdescription="Kadaver's kontaktside">
  <section class="team_list mt-20 md:mt-24 pb-16 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12">
    <div class="col-span-12">
      <h1 class="display md:mt-24 mt-16 mb-4">Kontakt os</h1>
      <hr class="border-blue-700 border-4 w-[365px] md:w-[450px] mb-16" />
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-gap mt-10 col-span-12">
      <!-- Repeat this block for each person -->
      <div class="flex flex-col items-center">
        <img src="/images/chomee.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Cho-Mee Annemette Kristensen</p>
        <p class="text-center">Partner/CEO</p>
        <p class="email text-center mt-2">chomee@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/borris.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Carl Johannes Borris</p>
        <p class="text-center">Partner/creative director</p>
        <p class="email text-center mt-2">borris@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/jakob.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Jacob Klintrup</p>
        <p class="text-center">Creative strategic director</p>
        <p class="email text-center mt-2">klintrup@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/toke.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Toke Krebs</p>
        <p class="text-center">Senior Designer & Concept Developer</p>
        <p class="email text-center mt-2">toke@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/daniel.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Daniel Stokke Meldrum Larsen</p>
        <p class="text-center">Senior creative</p>
        <p class="email text-center mt-2">daniel@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/kristoffer.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Kristoffer Telling Foged</p>
        <p class="text-center">Creative/copywriter</p>
        <p class="email text-center mt-2">kristoffer@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/thomas.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Thomas Arvid Jensen</p>
        <p class="text-center">Creative/AV creative</p>
        <p class="email text-center mt-2">thomas@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/cecilie.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Cecilie Heisterberg Otzen</p>
        <p class="text-center">Production/project manager</p>
        <p class="email text-center mt-2">cecilie@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/nicolai.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Nicolai Hundebøll</p>
        <p class="text-center">Produktionskoordinator</p>
        <p class="email text-center mt-2">nico@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/jeppe.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Jeppe Wittus</p>
        <p class="text-center">Production/project manager</p>
        <p class="email text-center mt-2">jeppe@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/dharshika.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Dharshika Christopher</p>
        <p class="text-center">Community manager</p>
        <p class="email text-center mt-2">dharshika@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/niels.webp" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Niels Forsberg</p>
        <p class="text-center">Manager (Girl's Legion)</p>
        <p class="email text-center mt-2">niels@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="/images/caroline.webp" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Caroline Juul</p>
        <p class="text-center">Senior antropolog</p>
        <p class="email text-center mt-2">caroline@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="person2.jpg" alt="Person 2" alt="Person 1" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Fahad Saeed</p>
        <p class="text-center">Business & strategy lead</p>
        <p class="email text-center mt-2">fahad@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="person2.jpg" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Sara Ringkow Petersen</p>
        <p class="text-center">Praktikant</p>
        <p class="email text-center mt-2">ringkow@kadaver.dk</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="person2.jpg" alt="Person 2" class="rounded-sm w-[290px] h-[386.77] object-cover mb-4" />
        <p class="name">Kristian Albert Petersen</p>
        <p class="text-center">Praktikant</p>
        <p class="email text-center mt-2">kristian@kadaver.dk</p>
      </div>
    </div>
  </section>

  <!-- Parent grid container (must be a grid) -->
  <div class="maps grid grid-cols-12 gap-4">
    <!-- Section correctly placed from column 2 to 10 -->
    <section class="col-span-12 mt-20 md:mt-40">
      <!-- Inner layout as a 2-column grid -->
      <div class="pb-16 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex flex-col">
          <h4 class="mb-4">Kom og find os her!</h4>
          <p class="max-w-6xl">
            Vil du kigge forbi? Vores døre er altid åbne for en god snak om kreative løsninger. Besøg os på vores adresse, eller tag fat i os, hvis du
            vil mødes et andet sted.
          </p>

          <span class="mt-8">
            <p><span class="name">Kadaver ApS </span><br /> Wilders Plads 5 <br /> 1403 København K</p>
          </span>
        </div>
        <div class="relative w-full h-96">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4499.534553598127!2d12.590916477142986!3d55.67564697305568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652533c731d5263%3A0x590838e2ed2b2ebc!2sKadaver!5e0!3m2!1sen!2sdk!4v1738848876277!5m2!1sen!2sdk"
            class="rounded-lg w-full h-full shadow-drop25"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </section>
  </div>
</MainLayout>
