---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kadaver | Cases" description="Kadaver - cases" ogtitle="Kadaver - case-side" ogdescription="Kadaver's case-side">
  <div class="absolute inset-0 pt-desktop-top max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12">
    <h1 class="display pt-20 col-span-12">Cases</h1>
  </div>
</MainLayout>
