---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Kadaver | Om os" description="Kadaver - om os" ogtitle="Kadaver - om os side" ogdescription="Kadaver's om os side">
  <section class="top-section relative md:mb-desktop-bottom mb-mobil-bottom w-full h-screen">
    <!-- Video Background -->
    <div class="absolute inset-0 w-full h-full z-0">
      <img src="/images/au_page.webp" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-gray-950 opacity-80 z-[10]"></div>
    </div>

    <!-- Text Overlay -->
    <div class="absolute inset-0 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 content-center h-full">
      <div class="md:col-span-8 col-span-12 text-left flex flex-col justify-center items-start z-30">
        <h1 class="display mb-4 text-gray-50">Om os</h1>
        <hr class="shadow-drop25 border-blue-700 border-4 w-[100px] md:w-[180px] md:mb-8 mb-10" />
        <p class="hero_text text-gray-50">
          Vil du vide mere om, hvem vi er, og hvordan vi arbejder? Udforsk vores tilgang til kreativt og strategisk arbejde, og se, hvordan vi
          udvikler idéer, der skaber stærke forbindelser mellem brands og mennesker.
        </p>
      </div>
      <div class="btn_container flex flex-row pt-8 gap-6 md:gap-12 col-span-12">
        <a href="#contact">
          <Button variant="primary" size="small">Gå til kontakt</Button>
        </a>
      </div>
    </div>
    <div class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[30]">
      <a href="#info-section">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="float w-8 h-8 sm:w-10 sm:h-10 text-gray-50 hover:text-violet-600 transition duration-300 ease-in-out"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </a>
    </div>
  </section>
  <section
    id="info-section"
    class="info_section mt-mobil-top md:mt-desktop-top mb-mobil-bottom md:mb-desktop-bottom pb-8 max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 items-center"
  >
    <div class="text_left col-span-12 md:col-span-9 max-w-4xl">
      <h2 class="text-h3-mobile md:text-h3-desktop pb-2 md:pb-4">Kadaver – et resultatdrevet brand- & contentbureau</h2>
      <p class="md:pb-4 pb-8">
        Vi skaber oplevelser, der inspirerer og engagerer. Hos Kadaver dykker vi ned i hver eneste detalje for at finde de historier, værdier og
        unikke kendetegn, der giver et brand karakter. Det er vores kreative drivkraft.
        <br /><br />
        Med en strategisk tilgang omsætter vi indsigt til stærke kampagner, der ikke bare fanger opmærksomhed, men også skaber ægte forbindelser og målbare
        resultater. Vi kombinerer kreativitet med handling&mdash; vi underholder, vi inspirerer, og vi bygger relationer, der holder.
        <br /><br />
        <span class="bold"
          >For os handler det ikke om at jagte trends, men om at forme fortællinger, der føles <br class="hidden md:block" />ægte og giver mening.</span
        >
      </p>
    </div>
    <div class="logo hidden md:block col-span-12 md:col-span-3 md:justify-center justify-start items-center md:pb-0 pb-10">
      <img src="/images/logo_gradient.webp" alt="Logo for Kadaver" class="md:w-52 md:h-52 w-40 h-40" />
    </div>
  </section>

  <section class="service_section md:mt-desktop-top max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 items-center">
    <div class="col-span-12">
      <div class="flex flex-col md:flex-row justify-center gap-6 md:gap-16">
        <img src="/images/ydelser1.svg" alt="Ydelser 1" class="hover:-translate-y-2 transition duration-300 ease-in-out w-auto h-44" />
        <img src="/images/ydelser2.svg" alt="Ydelser 2" class="hover:-translate-y-2 transition duration-300 ease-in-out w-auto h-44" />
        <img src="/images/ydelser3.svg" alt="Ydelser 3" class="hover:-translate-y-2 transition duration-300 ease-in-out w-auto h-44" />
        <img src="/images/ydelser4.svg" alt="Ydelser 4" class="hover:-translate-y-2 transition duration-300 ease-in-out w-auto h-44" />
        <img src="/images/ydelser5.svg" alt="Ydelser 5" class="hover:-translate-y-2 transition duration-300 ease-in-out w-auto h-44" />
      </div>
    </div>
  </section>

  <section class="work_section flex justify-center items-center">
    <div
      class="max-w-7xl md:mt-desktop-top mt-mobil-top mb-mobil-bottom md:mb-desktop-bottom mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 items-center justify-center"
    >
      <div class="work_text col-span-12">
        <h3 class="pb-2 md:pb-4">Vores arbejde i praksis</h3>
        <p>
          Vi tror på, at kreative løsninger starter med stærke idéer. Udforsk vores cases, og se<br class="hidden md:block" />
          hvordan vi har hjulpet brands med at formidle deres historier på nye og inspirerende <br class="hidden md:block" />
          måder.
        </p>
        <div class="btn_container md:pt-5 pt-6 md:pb-12 pb-8">
          <a href="/listview">
            <Button variant="primary" size="small">Udforsk cases</Button>
          </a>
        </div>
        <img src="/images/top_cases.webp" alt="Cases" class="work_image w-full h-auto object-cover rounded-sm" />
      </div>
    </div>
  </section>
</MainLayout>

<script>
  import { inView } from "motion";

  /* inView Animations */
  const elementmedanimation1 = document.querySelector("h1");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation2 = document.querySelector("hr");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__fadeInRight");
  });

  const elementmedanimation3 = document.querySelector(".text_left");
  inView(elementmedanimation3, () => {
    elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation4 = document.querySelector(".logo");
  inView(elementmedanimation4, () => {
    elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
  });

  const elementmedanimation5 = document.querySelector(".service_section");
  inView(elementmedanimation5, () => {
    elementmedanimation5.classList.add("animate__animated", "animate__flipInX");
  });

  const elementmedanimation6 = document.querySelector(".work_text");
  inView(elementmedanimation6, () => {
    elementmedanimation6.classList.add("animate__animated", "animate__fadeInUp");
  });

  const elementmedanimation7 = document.querySelector(".work_image");
  inView(elementmedanimation7, () => {
    elementmedanimation7.classList.add("animate__animated", "animate__fadeInRight");
  });

  const elementmedanimation8 = document.querySelector(".btn_container");
  inView(elementmedanimation8, () => {
    elementmedanimation8.classList.add("animate__animated", "animate__zoomIn");
  });

  const elementmedanimation9 = document.querySelector(".hero_text");
  inView(elementmedanimation9, () => {
    elementmedanimation9.classList.add("animate__animated", "animate__fadeInRight");
  });
</script>

<style>
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }
  .float {
    animation: float 3s ease-in-out infinite;
  }

  .top-section p,
  .top-section h1 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
</style>
