---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout
  title="Kadaver | Studieleje"
  description="Kadaver - studieleje"
  ogtitle="Kadaver - studieleje-side"
  ogdescription="Kadaver's studieleje-side"
>
  <section class="top-section relative md:mb-desktop-bottom mb-mobil-bottom w-full h-screen">
    <!-- Video Background -->
    <div class="absolute inset-0 w-full h-full z-0">
      <video src="/images/studio_video.mp4" class="w-full h-full object-cover" autoplay loop muted></video>
      <div class="absolute inset-0 bg-gray-950 opacity-80 z-[10]"></div>
    </div>

    <!-- Text Overlay -->
    <div class="absolute inset-0 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 content-center h-full">
      <div class="md:col-span-8 col-span-12 text-left flex flex-col justify-center items-start z-30">
        <h1 class="display mb-4 text-gray-50">Studieleje</h1>
        <hr class="shadow-drop25 border-blue-700 border-4 w-[195px] md:w-[335px] md:mb-8 mb-10" />
        <p class="hero_text text-gray-50">
          Har du brug for et kreativt rum til dit næste projekt? Vores studie er udstyret med alt du behøver, fra green screen til makeupstation.
          Perfekt til både fotoshoots og videoproduktioner. Book din næste session hos os og få den professionelle ramme, du søger.
        </p>
      </div>
      <div class="btn_container flex flex-row pt-8 gap-6 md:gap-12 col-span-12">
        <a href="#contact">
          <Button variant="primary" size="small">Gå til kontakt</Button>
        </a>
      </div>
    </div>
    <div class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[30]">
      <a href="#info-list">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="float w-8 h-8 sm:w-10 sm:h-10 text-gray-50 hover:text-violet-600 transition duration-300 ease-in-out"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </a>
    </div>
  </section>

  <section id="info-list" class="info_list md:mb-desktop-bottom mb-mobile-bottom max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12">
    <div class="col-span-12">
      <h2 class="md:mb-12 mb-4">Alt du skal vide</h2>
      <div class="list grid grid-cols-1 lg:grid-cols-3 gap-6">
        <div class="flex flex-col">
          <img src="/images/mandatory.webp" class="w-full object-cover rounded-sm" alt="Obligatorisk info" />
          <h3 class="md:mt-8 mt-6 mb-4">Obligatorisk</h3>
          <ul class="space-y-4 md:pb-0 pb-8">
            <li><span class="bold">Beliggenhed:</span><br />Wilders Plads 5, 1403 KBH K</li>
            <li><span class="bold">Pris pr. dag:</span><br />2950,- kr. ekskl. moms</li>
            <li><span class="bold">Tidsrum:</span><br />8-17</li>
            <li><span class="bold">Areal:</span><br />40 m2 + klippestudie på 12,5 m2</li>
            <li><span class="bold">Højde:</span><br />3 m</li>
            <li><span class="bold">Rumhorisont:</span><br />18 m2 <em>(Kan males efter aftale)</em></li>
            <li><span class="bold">Adgang:</span><br />Direkte fra parkeringsplads i stueplan</li>
            <li><span class="bold">Internet:</span><br />Ja</li>
          </ul>
        </div>
        <div class="flex flex-col">
          <img src="/images/technical.webp" class="w-full object-cover rounded-sm" alt="Teknisk info" />
          <h3 class="md:mt-8 mt-5 mb-4">Teknisk</h3>
          <ul class="space-y-4 md:pb-0 pb-8">
            <li><span class="bold">Green-screen:</span> Ja</li>
            <li><span class="bold">Baggrunde:</span> Ja, mange forskellige farver</li>
            <li><span class="bold">Lydisoleret:</span> Delvist</li>
            <li><span class="bold">Akustik-behandlet:</span> Ja</li>
            <li><span class="bold">Mulighed for mørklægning:</span> Ja</li>
            <li><span class="bold">Lys:</span> Mulighed for opsætning i loft- og standerlamper</li>
            <li><span class="bold">El:</span> 18 amp udtag</li>
            <li><span class="bold">Musikanlæg:</span> Ja</li>
            <li><span class="bold">Makeup-station:</span> Ja</li>
            <li><span class="bold">Lounge:</span> Ja</li>
            <li><span class="bold">Tekøkken:</span> Ja</li>
          </ul>
        </div>
        <div class="flex flex-col">
          <img src="/images/rent.webp" class="w-full object-cover rounded-sm" alt="Udstyrsleje" />
          <h3 class="md:mt-8 mt-5 mb-4">Udstyrsleje</h3>
          <ul class="space-y-4 md:pb-0 pb-8">
            <li>
              <span class="bold">Kamera:</span> Sony a7s iii + Atomos Ninja V recorder inkl. diske: <span class="bold underline">800 kr. pr. dag</span
              >
            </li>
            <li>
              <span class="bold">Objektiv:</span> SONY (E) FE 28-135MM F/4 PZ G OSS Ø95: <span class="bold underline">500 kr. pr. dag</span>
            </li>
            <li><span class="bold">Gimbal:</span> ZHIYUN CRANE 3S: <span class="bold underline">500 kr. pr. dag</span></li>
            <li>
              <span class="bold">Lys:</span>
              <ul class="space-y-2">
                <li>5 x Area 48 LED: <span class="bold underline">250 kr. pr. dag</span></li>
                <li>1 x Soft boks Nanlite Compac 200B: <span class="bold underline">250 kr. pr. dag</span></li>
                <li>2 x Boling LED Slim line BL-2280P. 5500 Kelvin: <span class="bold underline">200 kr. pr. stk. pr. dag</span></li>
                <li>Diverse lysstofrør og stativer: <span class="bold underline">Pris efter aftale</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="image_section md:pb-0 md:mb-desktop-bottom mb-mobil-bottom md:mt-desktop-top mt-mobil-top">
    <div class="max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 items-center">
      <div class="col-span-12 md:col-span-10 md:col-start-2">
        <img src="/images/image_section.webp" alt="Billede-sektion" class="w-full object-cover rounded-sm" />
      </div>
    </div>
  </section>

  <section
    id="contact"
    class="contact md:mb-desktop-bottom mb-mobil-bottom max-w-7xl mx-auto md:px-0 px-8 grid grid-cols-12 gap-6 md:gap-12 items-center"
  >
    <div class="contact_text md:col-span-7 col-span-12 md:col-start-2 flex flex-col justify-center md:items-start">
      <h3 class="pb-2 md:pb-4">Kontakt</h3>
      <p class="pb-2 md:pb-4">
        Hvis du har spørgsmål om leje eller har brug for yderligere information omkring vores studie, er du velkommen til at kontakte Carl Johannes
        Borris på: <br /><br />
        <span
          ><a href="mailto:borris@kadaver.dk" class="email">borris@kadaver.dk</a><br /><a href="tel:+4526365015" class="phone">+45 2636 5015</a></span
        >
      </p>
    </div>
    <div class="contact_image hidden md:block col-span-8 md:col-span-3 md:justify-center">
      <img
        src="/images/borris_contact.svg"
        alt="Billede af Johannes"
        class="hover:-translate-y-2 transition duration-300 ease-in-out w-[290px] h-[386.77px]"
      />
    </div>
  </section>
</MainLayout>

<script>
  import { inView } from "motion";

  /* inView Animations */
  const elementmedanimation1 = document.querySelector("h1");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation2 = document.querySelector("hr");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__fadeInRight");
  });

  const elementmedanimation3 = document.querySelector(".image");
  inView(elementmedanimation3, () => {
    elementmedanimation3.classList.add("animate__animated", "animate__fadeInDown");
  });

  const elementmedanimation4 = document.querySelector("h2");
  inView(elementmedanimation4, () => {
    elementmedanimation4.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const columns = document.querySelectorAll(".list > div");

  columns.forEach((column, index) => {
    inView(column, () => {
      column.classList.add("animate__animated", "animate__fadeInLeft");
      column.style.animationDelay = `${index * 400}ms`; // Delay each column by 0.2s
    });
  });

  const elementmedanimation5 = document.querySelector(".image_section");
  inView(elementmedanimation5, () => {
    elementmedanimation5.classList.add("animate__animated", "animate__zoomIn");
  });

  const elementmedanimation6 = document.querySelector(".contact_text");
  inView(elementmedanimation6, () => {
    elementmedanimation6.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation7 = document.querySelector(".contact_image");
  inView(elementmedanimation7, () => {
    elementmedanimation7.classList.add("animate__animated", "animate__fadeInRight");
  });

  const elementmedanimation8 = document.querySelector(".hero_text");
  inView(elementmedanimation8, () => {
    elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
  });

  const elementmedanimation9 = document.querySelector(".btn_container");
  inView(elementmedanimation9, () => {
    elementmedanimation9.classList.add("animate__animated", "animate__zoomIn");
  });
</script>

<style>
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }
  .float {
    animation: float 3s ease-in-out infinite;
  }

  .top-section p,
  .top-section h1 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
</style>
