---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Kadaver | Studieleje"
  description="Kadaver - studieleje"
  ogtitle="Kadaver - studieleje-side"
  ogdescription="Kadaver's studieleje-side"
>
  <section class="pt-desktop-top max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12">
    <div class="col-span-12">
      <h1 class="display md:mt-24 mt-16 mb-4">Studieleje</h1>
    </div>
  </section>
</MainLayout>
