---

---

<div class="relative flex items-center justify-center w-full h-full py-24 sm:py-8 px-4"></div>
<div class="w-full relative flex items-center justify-center">
  <button aria-label="slide backward" class="absolute left-0 ml-10 cursor-pointer z-[50]" id="prev">
    <svg
      class="text-gray-50 hover:opacity-50 hover:-translate-x-1 transiton duration-300 ease-in-out"
      width="20"
      height="20"
      viewBox="0 0 8 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </button>
  <div class="w-full h-[500px] mx-auto overflow-x-hidden overflow-y-hidden">
    <div id="slider" class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="/images/totalkredit.webp" alt="Total Kredit" class="object-cover object-center w-fit h-[500px]" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="absolute inset-0 bg-gray-950 bg-opacity-10 p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Total Kredit</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">Total Kredit</h3>
        </div>
      </div>

      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="/images/iva.webp" alt="Ingen Vinder Alene" class="object-cover object-center w-fit h-[500px]" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Ingen Vinder Alene</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">DIF & Team Danmark</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="/images/ocd.webp" alt="Ung Med OCD" class="object-cover object-center w-fit h-[500px]" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Ung Med OCD</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">OCD-foreningen</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area" class="object-cover object-center w-full" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Danmark After Dark</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">Nationalmuséet</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table" class="object-cover object-center w-full" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Stem Sammen</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">Folketinget</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area" class="object-cover object-center w-full" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Salling Group – Ingen Vinder Alene</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">Salling Group (Netto, Bilka, Føtex)</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area" class="object-cover object-center w-full" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Madværk</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">Madværk</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area" class="object-cover object-center w-full" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Kvindelige Rollemodeller</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">DI (Dansk Industri)</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table" class="object-cover object-center w-full" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Spørg Mere</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">Psykiatrifonden & Ole Kirk's Fond</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area" class="object-cover object-center w-full" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Claim Your Voice</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">Lenovo</h3>
        </div>
      </div>
      <div class="flex flex-shrink-0 relative w-full sm:w-auto">
        <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area" class="object-cover object-center w-full" />

        <!-- Dark overlay -->
        <div class="absolute inset-0 bg-gray-950 opacity-75 z-[40]"></div>

        <!-- Content container with semi-transparent overlay -->
        <div class="bg-gray-950 bg-opacity-10 absolute w-full h-full p-6 z-[45]">
          <h2 class="leading-4 text-h4-desktop lg:leading-7 text-gray-50 pb-2 z-[50]">Keepers</h2>
          <h3 class="leading-4 text-p-desktop lg:leading-7 text-gray-200 z-[50]">Keepers</h3>
        </div>
      </div>
    </div>
  </div>
  <button aria-label="slide forward" class="absolute right-0 mr-10 cursor-pointer z-[50]" id="next">
    <svg
      class="text-gray-50 hover:opacity-50 hover:translate-x-1 transiton duration-300 ease-in-out"
      width="20"
      height="20"
      viewBox="0 0 8 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </button>
</div>
