---
import Link from "../components/Link.astro";
---

<div
  x-data="{ showmenu: false }"
  class="gap-4 z-[50] fixed bg-gray-100 md:w-[95%] p-4 w-full md:rounded-lg md:left-1/2 md:-translate-x-1/2 md:top-4 shadow-drop25"
>
  <!-- brug "fixed" for at have den på siden hele vejen ned -->
  <div id="navbar" class="flex flex-row justify-between max-w-7xl mx-auto pr-4 pl-4">
    <nav id="desktopmenu" class="hidden lg:block w-full">
      <div class="max-w-5xl mx-auto">
        <ul class="flex flex-row justify-between items-center gap-4 w-full [&>li]:basis-[45%]">
          <li class="text-center"><a class="py-2 hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/">Forside</a></li>
          <li class="text-center"><a class="py-2 hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/listview">Cases</a></li>
          <li class="text-center"><a class="py-2 hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/om_os">Om os</a></li>
          <li class="text-center">
            <a class="text-neutral-50 flex items-center justify-center" href="/">
              <div class="relative w-16 h-16">
                <!-- Standard logo -->
                <img
                  src="/favicon.svg"
                  alt="Logo for Kadaver"
                  class="absolute inset-0 w-full h-full transition-opacity duration-300 ease-in-out opacity-100 hover:opacity-0"
                />
                <!-- Hover logo -->
                <img
                  src="/images/favicon_hover.svg"
                  alt="Hover-logo for Kadaver"
                  class="absolute inset-0 w-full h-full transition-opacity duration-300 ease-in-out opacity-0 hover:opacity-100"
                />
              </div>
            </a>
          </li>

          <li class="text-center">
            <a class="py-2 hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/studieleje">Studieleje</a>
          </li>
          <li class="text-center">
            <a class="py-2 hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/praktik">Praktik</a>
          </li>
          <li class="text-center">
            <a class="py-2 hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/kontakt">Kontakt os</a>
          </li>
        </ul>
      </div>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu">
      <!-- Hamburger icon -->
      <svg
        x-show="!showmenu"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-8 hover:text-violet-600 transiton duration-300 ease-in-out"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>

      <!-- Close icon (Cross) -->
      <svg
        x-show="showmenu"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-8 hover:text-violet-600 transition duration-300 ease-in-out"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <nav
    id="mobilmenu"
    class="flex flex-col content-center pt-4 transition duration-300 ease-in-out"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <!-- Burger Menu -->
    <nav
      id="mobilmenu"
      class="flex flex-col content-center pt-4 transition duration-300 ease-in-out"
      x-show="showmenu"
      x-transition
      x-on:click="showmenu = false"
      x-on:click.outside="showmenu = false"
    >
      <!-- Logo (Visible Outside Burger Menu) -->

      <ul>
        <li class="py-4 text-center">
          <a class="py-3 border-b hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/">Forside</a>
        </li>
        <li class="py-4 text-center">
          <a class="py-3 border-b hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/listview">Cases</a>
        </li>
        <li class="py-4 text-center">
          <a class="py-3 border-b hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/om_os">Om os</a>
        </li>
        <li class="py-4 text-center">
          <a class="py-3 border-b hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/studieleje">Studieleje</a>
        </li>
        <li class="py-4 text-center">
          <a class="py-3 border-b hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/praktik">Praktik</a>
        </li>
        <li class="py-4 text-center">
          <a class="py-3 border-b hover:opacity-50 hover:underline transition duration-300 ease-in-out" href="/kontakt">Kontakt os</a>
        </li>
      </ul>
    </nav>
  </nav>
</div>
